minio:
  replicas: 1
  mode: standalone
  persistence:
    size: 10Gi
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
      nginx.ingress.kubernetes.io/proxy-body-size: 1024m
    path: /
    hosts:
      - minio.tgu.ovh
    tls:
      - secretName: minio-tls
        hosts:
          - minio.tgu.ovh
  consoleIngress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
    paths: /
    hosts:
      - minio-console.tgu.ovh
    tls:
      - secretName: minio-console-tls
        hosts:
          - minio-console.tgu.ovh
  environment:
    MINIO_BROWSER_REDIRECT_URL: https://minio-console.tgu.ovh

  existingSecret: minio-root-secret
  
mlflow: 
  postgresql:
    enabled: true
    auth:
      username: "mlflow"
      password: "mlflow"
  backendStore:
    type: postgresql
    databaseMigration: true
    backendStore:
    postgres:
      enabled: true
      host: "ia-lab-postgresql-service"
      port: 5432
      database: "mlflow"
      user: "mlflow"
      password: "mlflow"
  artifactRoot:
    s3:
      # -- Specifies if you want to use AWS S3 Mlflow Artifact Root
      enabled: true
      extraEnvVars:
        - MLFLOW_S3_ENDPOINT_URL=http://minio-service:9000
      # -- S3 bucket name
      bucket: ""mlflow" # required
      # -- S3 bucket folder. If you want to use root level, please don't set anything.
      path: "" # optional
      # -- AWS IAM user AWS_ACCESS_KEY_ID which has attached policy for access to the S3 bucket
      awsAccessKeyId: "" # (awsAccessKeyId and awsSecretAccessKey) or roleArn serviceaccount annotation required
      # -- AWS IAM user AWS_SECRET_ACCESS_KEY which has attached policy for access to the S3 bucket
      awsSecretAccessKey: "" # (awsAccessKeyId and awsSecretAccessKey) or roleArn serviceaccount annotation required
      # -- Existing secret for AWS IAM user AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY secrets.
      existingSecret:
        # -- This is for setting up the AWS IAM user secrets existing secret name.
        name: ""
        # -- This is for setting up the key for AWS_ACCESS_KEY_ID secret. If it's set, awsAccessKeyId will be ignored.
        keyOfAccessKeyId: ""
        # -- This is for setting up the key for AWS_SECRET_ACCESS_KEY secret. If it's set, awsSecretAccessKey will be ignored.
        keyOfSecretAccessKey: ""
  ingress:
    enabled: true
    hostname: mlflow.tgu.ovh
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
      nginx.ingress.kubernetes.io/proxy-body-size: 512m
      nginx.ingress.kubernetes.io/proxy-connect-timeout: 180s
      nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "300"
    hosts:
    - host: mlflow.tgu.ovh
      paths:
        - path: /
          pathType: ImplementationSpecific
    tls: 
     - secretName: mlflow-tls
       hosts:
         - mlflow.tgu.ovh

  tracking:
    auth:
      enabled: false
    ingress:
      enabled: true
      hostname: mlflow.tgu.ovh
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt-prod"
        nginx.ingress.kubernetes.io/proxy-body-size: 512m
        nginx.ingress.kubernetes.io/proxy-connect-timeout: 180s
        nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
        nginx.ingress.kubernetes.io/proxy-send-timeout: "300"
      tls: true
    service: 
      type: ClusterIP
    extraArgs: 
      - --gunicorn-opts="--timeout=240"
    resourcesPreset: 2xlarge      
  minio:
    enabled: false
  externalS3:
    host: minio.tgu.ovh
    existingSecret: minio-root-secret
    existingSecretAccessKeyIDKey: rootUser
    existingSecretKeySecretKey: rootPassword
  
mysql:
  image:
    repository: bitnamilegacy/mysql
  auth:
    database: zenml
    username: zenml
    password: zenml
    rootPassword: password
  primary:
    livenessProbe:
        enabled: true
        initialDelaySeconds: 300
        periodSeconds: 10
        timeoutSeconds: 1
        failureThreshold: 45
        successThreshold: 1
    readinessProbe:
        enabled: true
        initialDelaySeconds: 300
        periodSeconds: 10
        timeoutSeconds: 1
        failureThreshold: 45
        successThreshold: 1
    startupProbe:
        enabled: true
        initialDelaySeconds: 300
        periodSeconds: 10
        timeoutSeconds: 1
        failureThreshold: 45
        successThreshold: 1
zenml:
  zenml:
    database:
      url: "mysql://zenml:zenml@lab-mysql.ia-lab.svc.cluster.local:3306/zenml"
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt-prod"
      host: zenml.tgu.ovh
      tls:
        enabled: true
        secretName: zenml-tls-certs

# Persistence configuration
persistence:
 size: 10Gi
 accessMode: ReadWriteOnce
